<h2>Defense Builder</h2>
<mat-grid-list cols="9" rowHeight="1:1.41">
    <mat-grid-tile [id]="hero.name" class="hero" *ngFor="let hero of heroes; index as i" (click)="addHero($event, i)">
        <img [src]="hero.image" alt="{{ hero.name }}">
    </mat-grid-tile>
</mat-grid-list>
<br>
<div>
    <label class="col-sm-2"><input id="radioRemove" type="radio" name="Select" value="remove" [(ngModel)]="radio"> Remove</label>
    <label class="col-sm-2"><input id="radioHide" type="radio" name="Select" value="hide" [(ngModel)]="radio"> Hide</label>
</div>
<mat-grid-list class="col-md-6" cols="4" rowHeight="1:1.41">
    <mat-grid-tile *ngFor="let hero of teamList" class="hero" (click)="teamList_click($event)">
        <img *ngIf="hero != null" [src]="hero.image" [alt]="hero.name">
    </mat-grid-tile>
</mat-grid-list>